/* Gauge Chart Container */
.gauge-chart-container {
    position: relative;
    width: 250px;
    margin: 20px auto; 
    text-align: center;
  }
  
  .gauge-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
  }
  
  .line-chart-container {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
  }
  
  