/* Gauge Chart Container */
.gauge-chart-container {
    position: relative;
    width: 200px;
    margin: 20px auto;
    text-align: center;
  }
  
  .gauge-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
  }
  
  .line-chart-container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  